<!-- ======================**** section_Footer *****==================== -->
<footer id="section_footer" class="d-flex justify-content-center">
    <section class="section_footer_cards ">
         <div class="row section_footer_content">

            <!-- ===== CARD - 1 ====  -->
            <section class="col-12 col-lg-8 px-0">
                <span class="footer_text">Contact with us</span>
                <h5 class="text-white my-2">Contact us now to get quote</h5>
            </section>

            <!-- ===== CARD - 2 ====  -->
            <section class="col-12 col-lg-4 px-0 d-flex">
                <div class="col-3">
                    <i>🙎</i>
                </div>
                <div class="col-9">
                    <span class="text-white">Call us now</span>
                    <h5 class="my-2 footer_text fs-1">1–688–688-94</h5>
                </div>
            </section>
        </div> 
        <!-- ====*** END of .section_footer_content ****====  -->

        <!--**** section_footer_cards ***** -->
            <div class="row section_footer_cards px-0 w-100">
                <!-- === CARD -> 1 ====  -->
                <section class="card bg-transparent border-0 col-11 col-sm-6 col-lg-3 px-3 px-sm-0">
                    <h4 class="footer_title">Contact us</h4>
                    <ul class="px-0">
                        <li>
                            <p>Address: 60 East 65th Street, New York City</p>
                        </li>
                        <li>
                            <p>Email: Marziaaffiliate[at]gmail.com</p>
                        </li>
                        <li>
                            <p>Numberphone: 1-688-688-94</p>
                        </li>
                        <li class="footer_social mt-5">
                            <span>Follow us on: </span>
                            <a href="" class="fs-5 ms-4"><i class="bi bi-facebook"></i></a>
                            <a href="" class="fs-5 mx-2"><i class="bi bi-instagram"></i></a>
                            <a href="" class="fs-5"><i class="bi bi-youtube"></i></a>
                            <a href="" class="fs-5 mx-2"><i class="bi bi-telegram"></i></a>
                        </li>
                    </ul>
                </section>

                <!-- === CARD -> 2 ====  -->
                <section class="card bg-transparent border-0 col-11 col-sm-6 col-lg-3 px-3 px-sm-0">
                    <h4 class="footer_title">Quick links</h4>
                    <div class="col-12 d-flex">
                        <ul class="px-0 col-3">
                            <li><a href="">home</a></li>
                            <li><a href="">about</a></li>
                            <li><a href="">services</a></li>
                            <li><a href="">pages</a></li>
                            <li><a href="">contact</a></li>
                        </ul>
                        <ul class="col-9 px-0">
                            <li><a href="">Design and Graphics </a></li>
                            <li><a href="">programming & Development</a></li>
                            <li><a href="">Writing and translators</a></li>
                            <li><a href="">Digital Marketing</a></li>
                            <li><a href="">img and video</a></li>
                        </ul>
                    </div>
                </section>


                <!-- === CARD -> 3 ====  -->
                <section class="card bg-transparent border-0 col-11 col-sm-6 col-lg-3 px-4 px-sm-0">
                    <h4 class="footer_title">New news</h4>
                    <ul class="px-0">
                        <!-- ==== CARD 1 ==  -->
                        <li>
                            <a href="" class="row">
                                <section class="col-3 px-0">
                                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                                </section>
                                <section class="col-9 footer_recent_text">
                                    <h5>120 logo  design 50%</h5>
                                    <span>jun 23, 2023</span>
                                </section>
                            </a>
                        </li>
                        <!-- === CARD 2 ====  -->
                        <li class="mt-4">
                            <a href="" class="row">
                                <section class="col-3 px-0">
                                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                                </section>
                                <section class="col-9 footer_recent_text">
                                    <h5>120 logo  design 50%</h5>
                                    <span>jun 23, 2023</span>
                                </section>
                            </a>
                        </li>
                    </ul>
                </section>


                <!-- === CARD -> 4 ====  -->
                <section class="card bg-transparent border-0 col-11 col-sm-6 col-lg-3 px-3 px-sm-0">
                    <h4 class="footer_title">Subscribe</h4>
                    <ul class="px-0">
                        <li>
                            <p>Lorem ipsum dolor sit amet, consectetur.</p>
                        </li>
                        <li>
                            <input type="email" name="email" placeholder="Email" class="col-12 bg-transparent">
                        </li>
                        <li>
                            <a href="" class="footer_btn">Subscribe</a>
                        </li>
                    </ul>
                </section>
            </div>
        <!--**** section_footer_cards ***** -->
  


        <!-- ======***** section_footer_copyRight *****=====  -->
        <div class="section_footer_copyRight text-center py-4 px-0">
            <p>Copyright ©2024 All rights reserved | Develop by 🧡 <a href=""><strong>Esmail Keyhan</strong></a> </p>
        </div>
        <!-- ======*****END of  section_footer_copyRight *****=====  -->
    </section>
</footer>
<!-- ======================****end of section_Footer *****==================== -->